@import "../assets/fonts/Rubik/stylesheet.css";
$primary: #ED2026;
$primary-75: #ED202675;
$primary-50: #ED202650;
$primary-25: #ED202625;
$primary-medium: #A5161A;
$primary-medium-75: #A5161A75;
$primary-medium-50: #A5161A50;
$primary-medium-25: #A5161A25;
$primary-light: #F26267;
$primary-light-75: #F2626775;
$primary-light-50: #F2626750;
$primary-light-25: #F2626725;
$primary-dark: #761013;
$primary-dark-75: #76101375;
$primary-dark-50: #76101350;
$primary-dark-25: #76101325;

img { 
    max-width: 100%;
    position: relative;

    &:after {
        content: ' ';
        background-image: url('../../public/img/app/broken-image.jpg');
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 0px;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
    }
}

html, body {
	height: 100%;
    font-family: 'Rubik';
    font-size: 14px;
}
body {
	margin: 0;
	padding: 0;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}

.dropdown-menu {
    &.show {
        background: #343a40;
    }
}
#sidenav {
    height: 100%;
    width: 300px;
    padding-top: 80px;
    position: absolute;
    top: 0;
    z-index: 1032;
    color: white;
    &.left {
        left: -300px;
    }
    &.right {
        right: -300px;
    }
    .collapse-list {
        padding-left: 15px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 1031;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    display: none;
}

.nabvbar-toggler {
    border: none;
    outline: none;
}

.close-nav {
    outline: none;
}
.uppercase {
    text-transform: uppercase !important;
}
.btn {
    border-radius: 4px;
    height: 43px; 
    min-width: 118px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: 1;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 13px 18px;
    outline: none !important;
    box-shadow: none !important;
    letter-spacing: 0.7px;

    &.btn-primary {
        border: 1px solid $primary !important;
        background: $primary;

        &:hover {
            background: $primary-medium;
        }
        &-75 {
            background: $primary-75;

            &:hover {
                background: $primary-medium-75;
            }
        }
        &-50 {
            background: $primary-50;

            &:hover {
                background: $primary-medium-50;
            }
        }
    }
}

.container {
    @media (min-width: 1440px) {
        max-width: 1440px;
    }
    @media (min-width: 1320px) {
        max-width: 1320px;
    }
}
footer {
    background-color: #1C0839;
    background-size: cover;
    background-position: bottom;
    .footer-container {
        padding-top: 31px;
        padding-bottom: 58px;
    }
    .footer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 39px;
        .logo-container {
            height: 61px;
        }
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 90px;
        ul {
            li {
                color: #D1D1D1;
                font-size: 14px;
                .link-title {
                    color: #FFF;
                    padding-bottom: 3px;
                }
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
                a {
                    font-weight: lighter;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
    .footer-links-inline {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .inline-links {
            margin-bottom: 13px;
            display: flex;
            color: #FFF;
            font-weight: lighter;
            a {
                padding-right: 38px;
                &:hover {
                    color: $primary;
                }
            }
        }
        .footer-copyright {
            color: #D1D1D1;
            font-weight: 200;
        }
        .footer-socials {
            display: flex;
            a {
                &:not(:last-child) {
                    padding-right: 19px;
                }
                span {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background: #F52A6420 0% 0% no-repeat padding-box;
                    mix-blend-mode: lighten;
                    border-radius: 22px;
                    opacity: 1;
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    -webkit-transition: background-color 0.25s ease-in-out;
                    transition: background-color 0.25s ease-in-out;
                }
                &:hover {
                    span {
                        background: #F52A6450 0% 0% no-repeat padding-box;
                    }
                }
            }
        }
    }
}

nav.navbar {
    .navbar-brand {
        img {
            height: 69px;
        }
    }

    .navbar-nav {
        .nav-item {
            letter-spacing: 0.7px;
            text-transform: uppercase;
            color: #FFF;
            font-size: 14px;
            padding: 0 17.5px;

            a {
                border-bottom: 2px solid transparent;
                padding: 15px 0;
                padding-bottom: 5px;
            }

            &:not(.dropdown) {
                a {
                    &:hover {
                        color: $primary;
                    }
                }
            }
            &.dropdown {
                a {
                    &:hover {
                        border-bottom: 2px solid $primary;
                    }
                }
                .dropdown-toggle {
                    display: flex;
                    align-items: center;
                    &::after {
                        font-size: 11px;
                        padding-left: 9px;
                        content: "\F078";
                        font-family: 'Font Awesome 5 Pro';
                        border: none;
                    }
                }
                .dropdown-menu {
                    background: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;
                    padding-left: 17.5px;
                    a {
                        padding-top: 8px;
                        color: #FFF;
                    }
                }
            }
        }

        &-buttons {
            display: flex;
            li {
                &:not(:last-child) {
                    margin-right: 7px;
                }
            }
        }
    }
}

section {
    &.banner {
        height: 100vh;
        background: #2A1260;
    }
}
