.cursor{
	cursor: pointer;
}
#video-banner-modal{
	.files {
		max-height: 500px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 5px;
		.file {
			position: relative;
			cursor: pointer;
			display: inline-block;
			width: 120px;
			height: 120px;
			border: 3px solid transparent;
			margin-right: 4px;
			margin-bottom: 25px;
			background-color: #fafbfc;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			&.active{
				border-color: #2ac3f2 !important;
			}
			.name{
				position: absolute;
				bottom: -28px;
				height: 25px;
				text-overflow: ellipsis;
				max-width: 120px;
				overflow-x: hidden;
				overflow-y: hidden;
				white-space: nowrap;
				left: -3px;
				padding: 5px;
				font-size: 12px;
				transition: all .25s ease;
			}
		}
   }
   .video-options{
	   margin: 10px 0;
   }
   #timeInput{
	border-radius: .1875rem;
	border: 1px solid #d3d3d3;
    font-size: 15px;
	background: #fbfbfc;
	padding: 0 5px;
	width: 60px;
   }
}
.video-select{
	margin-left: 8px;
	font-weight: 400;
	text-decoration: underline;
	color: #2ac3f2;
}
.video-banner{
	.sumo-asset-video-container{
		margin-top: 20px;
		width: 100%;
		height: 250px;
		display: flex;
		align-items: center;
		align-content: center;
		align-self: flex-start;
		background: #5b6770;
		padding: 10px;
		border: 1px solid rgba(195, 207, 216, 0.3);
		position: relative;
		img{
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
		&:hover {
			.sumo-asset-video-hover-overlay {
				opacity: 1;
			}
		}
		.sumo-asset-video-hover-overlay{
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(58, 54, 51, 0.6);
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			
			ul{
				display: flex;
				align-items: flex-end;
				justify-content: center;
				height: 100%;
				margin: 0;
				list-style: none;
				padding-left: 0;
				a {
					padding: 8px 6px;
					display: block;
					line-height: 0;
					text-align: center;
					color: #FFF;
					outline: none !important;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}
.contact-subject {
	.row {
		display: grid;
		grid-template-columns: 1fr 105px;
		grid-gap: 10px;
		.caboodle-form-group {
			display: flex;
			flex-direction: row;
			label {
				align-self: center;
			}
		}
		.header-actions {
			display: unset;
		}
		.caboodle-form-group select {
			height: 48px;
			background-color: white;
			background-position-y: center;
			width: 200px;
		}
	}
}
.filter-date-contacts {
	background-color: #00a09a;
    border: none;
    border-radius: 5px;
    color: white;
	padding: 0 30px;
	&:hover{
		opacity: .9;
	}
}

.caboodle-export-data-btn {
    background-color: #00a09a;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 19px;
	align-self: center;	
	&:hover{
		opacity: .9;
		color: white;
	}
}