@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Italic.eot?317cf2b0dff5c13276bba16d30fe0f14);
    src: url(/fonts/Rubik-Italic.eot?317cf2b0dff5c13276bba16d30fe0f14?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Italic.woff2?f1f0cefc95e7765ed3389e5ded6f96a8) format('woff2'),
        url(/fonts/Rubik-Italic.woff?2d80a84ad4ebe61d3d1dbee369e2a222) format('woff'),
        url(/fonts/Rubik-Italic.ttf?b4d0b1390469d529174e01ba291cb51c) format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-ExtraBoldItalic.eot?2d7dea36650b9d99cef48651b66e3751);
    src: url(/fonts/Rubik-ExtraBoldItalic.eot?2d7dea36650b9d99cef48651b66e3751?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-ExtraBoldItalic.woff2?d30ea8ff3ee81d7e761107e09e7fe850) format('woff2'),
        url(/fonts/Rubik-ExtraBoldItalic.woff?292a3b98cf52709374aada28cc44e015) format('woff'),
        url(/fonts/Rubik-ExtraBoldItalic.ttf?d9cc85e3127bae8b3c4d36ef0266df08) format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-ExtraBold.eot?3b404d7b5fcdaf3489b778867d5c21ca);
    src: url(/fonts/Rubik-ExtraBold.eot?3b404d7b5fcdaf3489b778867d5c21ca?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-ExtraBold.woff2?a540772bf8b29d4cf362d949d5b8a686) format('woff2'),
        url(/fonts/Rubik-ExtraBold.woff?832dbd618ba6b97896efa23ce331edc0) format('woff'),
        url(/fonts/Rubik-ExtraBold.ttf?1b9a131dc51edd12054c25ddba851808) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Regular.eot?de30ca9ea816bc6d7045951ef677ae39);
    src: url(/fonts/Rubik-Regular.eot?de30ca9ea816bc6d7045951ef677ae39?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Regular.woff2?eed309574370be5685254a48a14ad05d) format('woff2'),
        url(/fonts/Rubik-Regular.woff?8df7c91cfe68a92d9a1f2196a7572940) format('woff'),
        url(/fonts/Rubik-Regular.ttf?d8d4b4fc29547c89fbeb298bb7f4749c) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Light.eot?9703ea2457013fb1d93edfd1b5370c69);
    src: url(/fonts/Rubik-Light.eot?9703ea2457013fb1d93edfd1b5370c69?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Light.woff2?624546a8a7835744c4a30408bf8c1868) format('woff2'),
        url(/fonts/Rubik-Light.woff?23799c0455da8a6561f48170f488d660) format('woff'),
        url(/fonts/Rubik-Light.ttf?85f46e66de0f6734d5917d9f21c1f12d) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-MediumItalic.eot?70f7d8422ed57b23f8967104650223e1);
    src: url(/fonts/Rubik-MediumItalic.eot?70f7d8422ed57b23f8967104650223e1?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-MediumItalic.woff2?b99ef752b4436a346b1d71b1f9560cbd) format('woff2'),
        url(/fonts/Rubik-MediumItalic.woff?807701683cee8441ba3b48c66e436e66) format('woff'),
        url(/fonts/Rubik-MediumItalic.ttf?0ba3db613edf58c849be987a27b9a742) format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Medium.eot?494bc7722ee4f052d7d805f81e4ce474);
    src: url(/fonts/Rubik-Medium.eot?494bc7722ee4f052d7d805f81e4ce474?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Medium.woff2?df45a0686ea51edf073cf9d33ad22028) format('woff2'),
        url(/fonts/Rubik-Medium.woff?8e9233341a6e0b87a54c2b776617e86f) format('woff'),
        url(/fonts/Rubik-Medium.ttf?e0b5af3158050405de7c94027ae3969c) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-LightItalic.eot?88ef43811d3959d09e2cdefed3c02ee4);
    src: url(/fonts/Rubik-LightItalic.eot?88ef43811d3959d09e2cdefed3c02ee4?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-LightItalic.woff2?f22b16a3d4a873b3c5d8fac1c93967bf) format('woff2'),
        url(/fonts/Rubik-LightItalic.woff?6e347e3ce9b8c5b197ada0c917e26222) format('woff'),
        url(/fonts/Rubik-LightItalic.ttf?a1f4ef11d9023d1c6878fee2fe90b678) format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-SemiBold.eot?89f1e177fc4c5a3a199408094aa8a61c);
    src: url(/fonts/Rubik-SemiBold.eot?89f1e177fc4c5a3a199408094aa8a61c?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-SemiBold.woff2?1dcb1d5c8fbb7fefa1ebe96bf3373db0) format('woff2'),
        url(/fonts/Rubik-SemiBold.woff?fa71e696bac59c3141a0562c4b426530) format('woff'),
        url(/fonts/Rubik-SemiBold.ttf?6b90bab747c07872a246ea7224b0c0e2) format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Bold.eot?95f2cfd4caaf6dc22f7f94ae478e2b48);
    src: url(/fonts/Rubik-Bold.eot?95f2cfd4caaf6dc22f7f94ae478e2b48?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Bold.woff2?93e8362da3c94d42258e53e9df714e5c) format('woff2'),
        url(/fonts/Rubik-Bold.woff?044763775ca60caf9e01b0855daee4b0) format('woff'),
        url(/fonts/Rubik-Bold.ttf?c3062690fbac7b06002f1440f5c095f2) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-BlackItalic.eot?9b53e9e9d6f2c19a40a2fe36d1b90407);
    src: url(/fonts/Rubik-BlackItalic.eot?9b53e9e9d6f2c19a40a2fe36d1b90407?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-BlackItalic.woff2?0fb5c16adda291ab2a3a92b358f827cc) format('woff2'),
        url(/fonts/Rubik-BlackItalic.woff?09b679aa551b6fd28d6d34442abd9630) format('woff'),
        url(/fonts/Rubik-BlackItalic.ttf?336013c837868a07990cbfb1b4acc295) format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Black.eot?3000c1ba713a3f7009dda551d1c0fdcf);
    src: url(/fonts/Rubik-Black.eot?3000c1ba713a3f7009dda551d1c0fdcf?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-Black.woff2?7dd619c9e6f475217f8930080a01f91c) format('woff2'),
        url(/fonts/Rubik-Black.woff?e3cd88489e00b0165be34459a5de84f5) format('woff'),
        url(/fonts/Rubik-Black.ttf?b91c0313532958ac36ee5319e57d4b79) format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-SemiBoldItalic.eot?e9f2b1727cccd53ac70a63cd2e2f73e2);
    src: url(/fonts/Rubik-SemiBoldItalic.eot?e9f2b1727cccd53ac70a63cd2e2f73e2?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-SemiBoldItalic.woff2?db2812892b5f3ade2db9600cb5165f8b) format('woff2'),
        url(/fonts/Rubik-SemiBoldItalic.woff?1999bbe5beee6ad61c04671303c6129c) format('woff'),
        url(/fonts/Rubik-SemiBoldItalic.ttf?815a28c37e7786ffbdb93308f06bbb72) format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-BoldItalic.eot?e90e69559fd377e838c31590beb3e742);
    src: url(/fonts/Rubik-BoldItalic.eot?e90e69559fd377e838c31590beb3e742?#iefix) format('embedded-opentype'),
        url(/fonts/Rubik-BoldItalic.woff2?ee244b889fdf9624324c0fddf084505f) format('woff2'),
        url(/fonts/Rubik-BoldItalic.woff?5006fd085126ca3a1a56ba8154d50c7b) format('woff'),
        url(/fonts/Rubik-BoldItalic.ttf?47ebb9bf8fd55b268ba2d9cd1ed361d9) format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@charset "UTF-8";

img {
  max-width: 100%;
  position: relative;
}

img:after {
  content: " ";
  background-image: url(/images/broken-image.jpg?27fb62f563bc75118a4b33362c1e6ebf);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

html,
body {
  height: 100%;
  font-family: "Rubik";
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.dropdown-menu.show {
  background: #343a40;
}

#sidenav {
  height: 100%;
  width: 300px;
  padding-top: 80px;
  position: absolute;
  top: 0;
  z-index: 1032;
  color: white;
}

#sidenav.left {
  left: -300px;
}

#sidenav.right {
  right: -300px;
}

#sidenav .collapse-list {
  padding-left: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1031;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: none;
}

.nabvbar-toggler {
  border: none;
  outline: none;
}

.close-nav {
  outline: none;
}

.uppercase {
  text-transform: uppercase !important;
}

.btn {
  border-radius: 4px;
  height: 43px;
  min-width: 118px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 1;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 18px;
  outline: none !important;
  box-shadow: none !important;
  letter-spacing: 0.7px;
}

.btn.btn-primary {
  border: 1px solid #ED2026 !important;
  background: #ED2026;
}

.btn.btn-primary:hover {
  background: #A5161A;
}

.btn.btn-primary-75 {
  background: #ED202675;
}

.btn.btn-primary-75:hover {
  background: #A5161A75;
}

.btn.btn-primary-50 {
  background: #ED202650;
}

.btn.btn-primary-50:hover {
  background: #A5161A50;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

footer {
  background-color: #1C0839;
  background-size: cover;
  background-position: bottom;
}

footer .footer-container {
  padding-top: 31px;
  padding-bottom: 58px;
}

footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

footer .footer-header .logo-container {
  height: 61px;
}

footer .footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 90px;
}

footer .footer-links ul li {
  color: #D1D1D1;
  font-size: 14px;
}

footer .footer-links ul li .link-title {
  color: #FFF;
  padding-bottom: 3px;
}

footer .footer-links ul li:not(:last-child) {
  padding-bottom: 10px;
}

footer .footer-links ul li a {
  font-weight: lighter;
}

footer .footer-links ul li a:hover {
  color: #ED2026;
}

footer .footer-links-inline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .footer-links-inline .inline-links {
  margin-bottom: 13px;
  display: flex;
  color: #FFF;
  font-weight: lighter;
}

footer .footer-links-inline .inline-links a {
  padding-right: 38px;
}

footer .footer-links-inline .inline-links a:hover {
  color: #ED2026;
}

footer .footer-links-inline .footer-copyright {
  color: #D1D1D1;
  font-weight: 200;
}

footer .footer-links-inline .footer-socials {
  display: flex;
}

footer .footer-links-inline .footer-socials a:not(:last-child) {
  padding-right: 19px;
}

footer .footer-links-inline .footer-socials a span {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #F52A6420 0% 0% no-repeat padding-box;
  mix-blend-mode: lighten;
  border-radius: 22px;
  opacity: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  transition: background-color 0.25s ease-in-out;
}

footer .footer-links-inline .footer-socials a:hover span {
  background: #F52A6450 0% 0% no-repeat padding-box;
}

nav.navbar .navbar-brand img {
  height: 69px;
}

nav.navbar .navbar-nav .nav-item {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  padding: 0 17.5px;
}

nav.navbar .navbar-nav .nav-item a {
  border-bottom: 2px solid transparent;
  padding: 15px 0;
  padding-bottom: 5px;
}

nav.navbar .navbar-nav .nav-item:not(.dropdown) a:hover {
  color: #ED2026;
}

nav.navbar .navbar-nav .nav-item.dropdown a:hover {
  border-bottom: 2px solid #ED2026;
}

nav.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  font-size: 11px;
  padding-left: 9px;
  content: "\F078";
  font-family: "Font Awesome 5 Pro";
  border: none;
}

nav.navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 17.5px;
}

nav.navbar .navbar-nav .nav-item.dropdown .dropdown-menu a {
  padding-top: 8px;
  color: #FFF;
}

nav.navbar .navbar-nav-buttons {
  display: flex;
}

nav.navbar .navbar-nav-buttons li:not(:last-child) {
  margin-right: 7px;
}

section.banner {
  height: 100vh;
  background: #2A1260;
}

