// @import "variables.scss";

@mixin form-transitions() {
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.caboodle-form-group {
	display: flex;
    justify-content: flex-start;
	justify-items: center;
	margin-bottom: 30px;
	text-align: left;
	flex-direction: column;
	flex: 1 100%;

	.input-group {

		.input-group-btn {
			button, .caboodle-btn {
				border-radius: 0 4px 4px 0;
				height: 40px;
				min-width: 50px;
			}
		}

		.input-group-addon {
			border-radius: 0 4px 4px 0;
			border: 1px solid $grey-40;
			border-left: none;
			line-height: 38px;
			padding: 0 10px;
			background: $grey-10;

			i {
				font-size: $medium;
			}

		}

	}

	&:last-child {
		margin-bottom: 0;
	}

	&.show {
		.sumo-dropdown {
			border-color: $secondary-medium;
		}
	}

	&.caboodle-switch {
		margin: 10px 0;
	}

	label {
		margin-bottom: 12px;
		font-size: $small;
		color: $grey-80;

		&.less-margin {
			margin-bottom: 6px;
		}
	}

	input, select, textarea, .selectize-input, .selectize-control.multi .selectize-input.has-items {
        border-radius: 4px;
        height: 40px;
        min-height: 40px;
		border-radius: 4px;
		font-size: $small;
		border: 1px solid $grey-40; 
		padding: 6px 12px;
		color: $grey-100;
		flex: 1;
        resize: none;
        box-shadow: none;
        @include form-transitions;

		option {
			font-size: $small;
		}

		&:focus, &:active, &:hover, &.focus {
			border-color: $secondary-medium;
		}

		&.parsley-error {
			border-color: $error;
		}

		&:disabled, &.disabled {
			background: $grey-10;
			border-color: $grey-40;
			cursor: not-allowed;
		}

		&[readonly], &[readonly='readonly'] {
			background: $grey-5;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  	color: $grey-60;
		}

		&::-moz-placeholder { /* Firefox 19+ */
		  	color: $grey-60; 
		}

		&:-ms-input-placeholder { /* IE 10+ */
		  	color: $grey-60;
		}

		&:-moz-placeholder { /* Firefox 18- */
		  	color: $grey-60;
		}

    }
    
    .selectize-control.multi {
        .selectize-input {
            height: auto !important;
            
            > div {
                background: $grey-20;
            }
        }
    }

	textarea {
		width: auto;
		min-height: 250px;
		resize: vertical;
	}


	.parsley-errors-list {
		margin: 0;
		list-style: none;
		padding-left: 0;

		li {
            margin-top: 3px;
			font-size: $x-small;
			color: $error;
		}
	}

	select {
	  	-webkit-appearance: none;
	  	-moz-appearance: none;
	  	background: transparent;
	  	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	  	background-repeat: no-repeat;
	  	background-position-x: 100%;
	  	background-position-y: 5px;
	}

	&.label-left {
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		> * {
			margin-bottom: 0;
		}

		label {
			margin-right: 10px;
			min-width: 50px;
		}
	}

	.icon-left, .icon-right, .icon-both {
		border: 1px solid $grey-40;
		height: 40px;
		border-radius: 4px;
		display: flex;
    	align-items: center;
        flex: 1 100%; 
        overflow: hidden;

		input {
			border: none;
			height: 38px;
			width: 100%;
		}

		button {
			background: transparent;
		}

		i {
			color: $grey-100;
			font-size: $large;
			color: $grey-80;
		}
	}

	.icon-right {
	    padding: 0 12px 0 0;
	}

	.icon-left {
	    padding: 0 0 0 12px;
	}

	.icon-both {
	    padding: 0 12px;
	}

	&.search-filter {
		:first-child {
			border: none;
			padding-left: 0;
		}
		.sumo-dropdown {
			flex: auto;
			width: auto!important;
		}

		.icon-left {
            @include form-transitions;

            i {
                color: $grey-60;
            }

			&:focus-within, &:hover {
				border-color: $secondary-medium;
                color: $white;
            }
            
		}
	}

    &.caboodle-form-icon {
        position: relative;
        &.left {
            input {
                padding-left: 30px;
            }
        }
        &.right {
            input {
                padding-right: 30px;
            }
        }

        .icon, i {
            font-size: $small;
            line-height: 40px;
            position: absolute;
            left: 13px;
        }
	}
	
	&.caboodle-form-group-code-editor {
		textarea {
			min-height: 100px;
			resize: none;
			background: #2a2f34;
			color: $orange-medium;
			font-size: 11px;
		}
	}
	&.small {
		.icon-both {
			input {
				padding-right: 5px !important;
				padding-left: 0;
				width: 50px;
			}
			i {
				font-size: 14px;
			}
		}
	}
}

.conditional-collapse{
	margin-top: 10px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition:.5s;
	transition:.5s;

	&.in{
		-webkit-transition:1s;
		transition:1s;
		max-height: 500px;
		overflow: visible;
	}
}

.form-control-stylized {
	position: relative;

	> div {
        position: absolute;        
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
	}

	.form-control {
		padding-left: 30px;;
	}

	&.style-right{
		> span {
			right:10px;
			left:auto;
		}

		.form-control {
			padding-right: 30px;;
			padding-left: 6px;
		}
    }
    
    &.search-control {
        span {
            line-height: 38px;
        }
        
        input {
            padding-left: 30px;;
        }
    }

    &.stylized-left {
        > div {
            left: initial;
            right: 0;
        }

        .form-control {
            padding-left: 12px;
            padding-right: 30px;;
        }
    }
}

.caboodle-form-control-connected {
    position: relative;

	input, select {
        padding-right: 52px !important;
        width: 100%;
	}

	&.icon {
		input, select {
			padding-right: 30px!important;
		}
		.caboodle-btn {
			right: 10px!important;
			border-left: none!important;
			opacity: 1!important;
		}
	}

	.select-wrapper {
		position: absolute;
		height: 38px;
		width: 52px;
		top: 1px;
        right: 1px;
        border-left: 1px solid $grey-20;

	    select {
            position: absolute;
            top: -1px;
            display: block;
            flex: initial;
            color: $grey-100;
            padding: 0 18px 0 10px !important;
	    	background: transparent;
	    	border: none;
            width: 100%;
	    	height: 100%;
	    	width: 100%;
	    	-webkit-appearance: none;
	    	-moz-appearance: none;
	    	-ms-appearance: none;
            appearance: none;
            line-height: 35px;
	    }

	    span {
	    	position: absolute;
	    	top: 0px;
            right: 7px;
            line-height: 35px;

	    	i {
                opacity: 0.7;
	    	}
	    }
	}

	.caboodle-form-icon {
        position: absolute;;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
		top: 0px;
		right: 0px;
        border-left: 1px solid #dddddd;
        border-radius: 0;
	    outline: none;
        box-shadow: none;
        font-size: $small;
        color: $secondary-medium;
        --mdc-theme-primary: $secondary-medium;
        @include form-transitions;

		i {

		}
    }
    
    &:focus-within, &:hover {
        .caboodle-btn, .form-control {
            border-color: $secondary-medium;
        }
    }
}

.tag-list {
	margin: 10px 0 0 0;
	padding-left: 0;

	li {
		margin-right: 3px;
		margin-bottom: 5px;
		background:$grey-40;
		width: auto;
		padding: 4px 8px;
		color: $white;
		border-radius: 3px;

		span {
			-ms-flex-item-align: center;
			    -ms-grid-row-align: center;
			    align-self: center;
			-ms-flex-line-pack: center;
			    align-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			font-size: 13px;
			padding-right: 8px;
		}

		.fa {
			-ms-flex-item-align: center;
			    -ms-grid-row-align: center;
			    align-self: center;
			-ms-flex-line-pack: center;
			    align-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			cursor: pointer;
			font-size: 12px;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.browse-tags {
	.image {
		width: 30px;
		height: 30px;
		background-color: $grey-20;

		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid rgba(195,207,216,0.3);
	}

	.browse-tag {
		display: table;
		width: 100%;

		> * {
			display: table-cell;
			vertical-align: middle;
		}

		.title {
			padding-left: 20px;
			padding-right: 15px;
		}

		.text-right {
			text-align: right;
		}

		.remove-btn {
			background: none;
			border: none;

			&:hover {
				color: $grey-80;
			}
		}
	}
}

.sumo-asset-select {
		
	img {
		max-width: 100%;
		max-height: 400px;
		display: block;
	}

	.sumo-asset-img-container {
		margin-top: 20px;
		// width: 250px;
		width: 100%;
		height: 250px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-line-pack: center;
		    align-content: center;
		-ms-flex-item-align: center;
		    align-self: flex-start;
		// background: #fafbfc;
		background: #5b6770;
		padding: 10px;
	    border: 1px solid rgba(195,207,216,0.3);
		position: relative;

		&:hover {
			.sumo-asset-img-hover-overlay {
				opacity: 1;
			}
		}

		img {
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}

		.sumo-asset-img-hover-overlay {
			position: absolute;
			z-index: 3;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(58, 54, 51, 0.6);
			opacity: 0;
			-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;

			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: end;
				    -ms-flex-align: end;
				        align-items: flex-end;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				height: 100%;
				margin: 0;
				list-style: none;
				padding-left: 0;

				a {
					padding: 8px 6px;
					display: block;
					line-height: 0;
					text-align: center;
					color: #FFF;
					outline: none !important;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

/** for asset multi select **/
.sumo-asset-select-multi {

	> label {
		width: 100%;

		.multi-name {
			max-width: 200px;
			display: inline-block;
			border: none;
			-webkit-box-shadow: none;
			        box-shadow: none;

		}

		a {
			margin-left: 8px;
			font-weight: 400;
			text-decoration: underline;
			color: #2ac3f2;

		}
	}

	.images-container {

		> div.sumo-multi-asset {
			width: 120px;
			height: 120px;
			margin-left: 5px;
			margin-bottom: 5px;
    		border: 1px solid rgba(195, 207, 216, 0.3);
			float: left;
    		background-color: #eee;
    		background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			position: relative;

			div.sumo-asset-img-hover-overlay {
			    position: absolute;
			    z-index: 3;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background: rgba(58, 54, 51, 0.6);
			    opacity: 0;
			    -webkit-transition: opacity 0.2s ease-in-out;
			    transition: opacity 0.2s ease-in-out;

			    ul {
				    display: -ms-flexbox;
				    display: -webkit-box;
				    display: flex;
				    -ms-flex-align: end;
				    -webkit-box-align: end;
				            align-items: flex-end;
				    -ms-flex-pack: center;
				    -webkit-box-pack: center;
				            justify-content: center;
				    height: 100%;
				    margin: 0;

				    a {
					    padding: 8px 6px;
					    display: block;
					    line-height: 0;
					    text-align: center;
					    color: #fff;
					    outline: none !important;
				    }
			    }
			}

			&:hover div.sumo-asset-img-hover-overlay {
				opacity: 1;
			}

			img {
				max-width: 100%;
				max-height: 100%;

			}
		}

		.sumo-asset-img-container {
			width: 100%;
			max-height: 130px;
		}
	}
}

.images-container {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0;

	.empty-bg {
		background: $grey-10;
		border: 2px dashed $grey-40;
		border-radius: 5px;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 180px;
		text-align: center;
		margin-top: 20px;

		i {
			font-size: 60px;
			color: $grey-40;
			width: 100%;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-line-pack: center;
			    align-content: center;
			-ms-flex-item-align: center;
			    -ms-grid-row-align: center;
			    align-self: center;
		}
	}

	.col {
		padding: 5px;
	}
}

.mdc-switch {
	margin-right: 15px;
	
	.mdc-switch__native-control {
		width: 65px;
	}
}

.mdc-form-field
 {
	&.label-left {
		position: relative;
		.parsley-errors-list {
			position: absolute;
			top: 38px;
			padding-left: 0;
			width: 200px;
			li {
				
				color: $error;
				font-size: $x-small;
				font-family: 'Clear Sans';
				letter-spacing: initial;
			}
		}
	}
 }
.mdc-checkbox {
    margin-left: -10px;
    --mdc-theme-secondary: $secondary-medium;
    
    &.disabled {
        opacity: 0.5;
	}
}

.mdc-checkbox__native-control:checked~.mdc-checkbox__background, 
.mdc-checkbox__native-control:indeterminate~.mdc-checkbox__background {
	background: $secondary-medium!important;
	border-color: $secondary-medium!important;
}

.mdc-checkbox__background:before, 
.mdc-radio:before, .mdc-radio:after,
.mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
	background: $secondary-medium!important;
}

.mdc-radio {
    margin-left: -10px;
}

.mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
	border-color: $secondary-medium!important;
}

.mdc-switch {
    width: 50px;
}

.mdc-switch__background:before, 
.mdc-switch__native-control:checked ~ .mdc-switch__background:before {
	opacity: 1!important;
}

.mdc-switch__native-control:enabled:checked~.mdc-switch__background:before {
	background: $secondary-medium!important;
}

.mdc-switch__native-control:enabled:not(:checked)~.mdc-switch__background:before {
	background: $secondary-light!important;
}

.mdc-switch__native-control:enabled:checked~.mdc-switch__background .mdc-switch__knob, 
.mdc-switch__native-control:enabled:checked~.mdc-switch__background .mdc-switch__knob:before, 
.mdc-switch__native-control:enabled:not(:checked)~.mdc-switch__background .mdc-switch__knob {
	background: $white!important;
}

.mdc-switch__native-control:disabled~.mdc-switch__background:before {
    background-color: $grey-40;
}

.mdc-switch__native-control:disabled~.mdc-switch__background .mdc-switch__knob {
    background-color: $white;
}

.mdc-switch__background:before {
	border-radius: 20px;
}


.mdc-switch__background {
	width: 50px;
	height: 26px;
	border-radius: 20px;
}

.mdc-switch__knob:before {
	opacity: 0!important;
}

.mdc-switch__knob {
	box-shadow: none;
	top: 3px;
	left: 4px;
}

.mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob {
    -webkit-transform: translateX(22px);
    transform: translateX(22px);
}

.sumo-dropdown {
	height: 40px;
	border: 1px solid $grey-40;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	flex: 1 100%;
	cursor: pointer;
    padding: 0 12px 0 0;
    border-radius: 4px;

	select {
		display: none;
	}

	input {
		padding: 6px 12px;
		border: none;
		height: 38px;
		min-height: 38px;
		width: 100%;
		color: $grey-100;

		&.readonly {
			cursor: pointer;
		}
	}

	.dropdown {
		border-radius: 4px;
		border: 1px solid $grey-20;
		padding: 10px 0;
		width: 100%;
		transform: none!important;
		z-index: 999;
		background: $white;
		top: 43px!important;
		max-height: 250px;
		overflow-y: auto;

		.item {
			padding: 5px 10px;
			font-size: $small;
			&:hover {
				background: $secondary-medium;
				color: $white;
			}
		}
	}
	&:hover {
		border-color: $secondary-medium;
	}
}

.filters {
	text-align: left;
	background: $white;
	margin-top: 20px;
	
	form {
		padding: 0;
		border: none;
        background-color: transparent;

        @media #{$tablet} {
            .caboodle-form-control-connected {
                > label {
                    padding-left: 0;
                }

                > * {
                    display: block;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
		label {
			font-weight: 400;
            position: relative;
            padding-left: 30px;
            
            &.single-search {
                max-width: 300px;
                width: 100%;

                input {
                    max-width: initial;
                }
            }

			input {
				display: inline-block;
                max-width: 300px;
                width: 100%;
                padding-right: 30px!important;

				&.full-width {
					max-width: 100%;
				}

                &:hover {
                    border-color: $secondary-medium;
                }
			}
			button {
				position: absolute;
				top: 0;
				right: 3px;
				color: $grey-40;
				background: transparent;
				border: none;
                height: 38px;
                
                &:hover {
                    color: $grey-60;
                }
			}
		}
		select.searchby {
            display: inline-block;
            min-width: 150px;
            max-width: 150px;

            &:hover {
                border-color: $secondary-medium;
            }
		}
	}

	.caboodle-form-group {
		margin-bottom: 0;
	}
}

.select2-container {
	display: block;
	width: 100%!important;

	.select2-selection--single {
		min-height: 40px;
		.select2-selection__rendered {
			padding: 5px 10px;
		}
	}
	
	.select2-selection--multiple {
		min-height: 40px;
		.select2-selection__choice {
			background-color: $grey-10;
    		border: 1px solid $grey-10;
		}
	}

	&.select2-container--focus {
		.select2-selection--multiple {
			border: 1px solid $secondary-medium!important;
		}
	}

	.select2-search__field {
		width: 100%!important;
		height: auto;
		min-height: 20px;
	}
}

.switch-container {
	margin-top: 20px;
}

.color-input {
	position: relative;

	.color-palette-selector {
		transform: scale(0,0);
		display: none;
	}

	.selected-color {
		position: absolute;
		width: 20px;
		height: 20px;
		background: #00cc99;
		top: 10px;
		left: 10px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.1), 0 0 0 1px #eee;
		border-radius: 2px;
	}

	.color-text-value {
		padding-left: 40px;
	}
}

.toggle {
	margin: 3px 0;
	border: 1px solid $grey-40;
	color: $grey-100;
	&.btn-warning:not(:disabled):not(.disabled):active, &.btn-warning, .btn-warning, .btn-warning:not(:disabled):not(.disabled):active {
		background-color: $green-medium;
		border-color: $green-darker;
		color: $white;
	}
	.toggle-group {
		.toggle-handle {
			border-left: 1px solid $green-darker;
			border-right: 1px solid $grey-40;
			border-radius: 0;
		}
	}
}