// @import "variables.scss";

//tigger elements
[trigger-value],
[trigger-state] {
	display: none;
}
.overflow-auto {
	overflow: auto;
}

/* VERTICAL ALIGNS */
.vertical-align {
	&-top {
		vertical-align: top;
	}
	&-middle {
		vertical-align: middle;
	}
}
/* OVERFLOW */
.overflow {
	&-hidden {
		overflow: hidden !important;
	}
	&-visible {
		overflow: visible !important;
	}
}
.center-block {
	margin: auto;
}
.float-right {
	float: right;
}
.xx-small {
	font-size: $xx-small !important;
}
.x-x-small {
	font-size: $x-x-small !important;
}
.x-small {
	font-size: $x-small !important;
	pre {
		font-family: 'Clear Sans';
	}
}
.small {
	font-size: $small !important;
}
.medium {
	font-size: $medium !important;
}
.large {
	font-size: $large !important;
}
.x-large {
	font-size: $x-large !important;
}
.xx-large {
	font-size: $xx-large !important;
}
.xxx-large {
	font-size: $xxx-large !important;
}
.bold {
	font-weight: bold !important;
}
.relative {
	position: relative !important;
}
.absolute {
	position: absolute !important;
}
.fixed {
	position: fixed !important;

	&.top-0 {
		top: 0 !important;
	}

	&.bottom-0 {
		bottom: 0 !important;
	}

	&.right-0 {
		right: 0 !important;
	}

	&.left-0 {
		left: 0 !important;
	}
}
.full-height {
	height: 100%;
}
/* CABOODLE FLEX STYLES */
.flex-center {
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	flex-wrap: wrap;

	> .flex-content {
		flex: 1;
	}
}

.flex {
	display: flex;

	&-column {
		flex-direction: column;
	}

	&.align-center {
		align-items: center;

		> * {
			margin: 0;
		}
	}

	&.justify-center {
		justify-content: center;
	}

	.flex-auto {
		width: auto !important;
	}

	.flex-1 {
		flex: 1;
		margin: 5px;
	}

	&.flex-end {
		justify-content: flex-end;
	}
}

// hover effects
.hover-scale {
	transition: .2s;
	&:hover {
		transform: scale(1.3, 1.3);
	}
}

// BG PRESETS
.bg-cover {
	background-size: cover;
}

.bg-pos-center {
	background-position: center center;
}

/* CABOODLE DISPLAY STYLES */
.inline-blocks {
	> * {
		display: inline-block;
	}
}
.inline {
	display: inline;
}

header {

	@media #{$mobile} {
		margin-bottom: 15px !important;
	}

	&.caboodle-flex, .caboodle-flex {
		@media #{$mobile} {
			display: block;
		}
	}

	.caboodle-tag {
		@media #{$mobile} {
			margin-top: 8px;
		}
	}

	/* HEADER ACTIONS */
	.header-actions {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		@media #{$mobile} {
			margin-top: 15px;
			margin-bottom: 0;
			text-align: right;
			display: block;
		}
		
		.header-action-item {
			padding-right: 15px;

			i {
				padding-right: 5px;
			}
		}
	}
}

// ROLE BUTTON
[role="button"] {
	cursor: pointer;
}

.no-pointer-event {
	pointer-events: none;
}

// INPUT PRESETS
input {
	&.invalid {
		border-color: $error !important;
	}
}

// IMG SIZES
img {
	&.thumbnail-size {
		width: 50px !important;

		&.thumb-small {
			width: 30px !important;
		}

		&.thumb-medium {
			width: 70px !important;
		}

		&.thumb-large {
			width: 100px !important;
		}

		&.thumb-xlarge {
			width: 150px !important;
		}

		&.thumb-xxlarge {
			width: 200px !important;
		}
	}

	&.center-block {
		margin: auto !important;
	}
}

// POSITION PRESETS
.absolute {
	position: absolute !important;

	&.full-width {
		width: 100%;
	}

	&.top-0 {
		top: 0 !important;
	}

	&.bottom-0 {
		bottom: 0 !important;
	}

	&.left-0 {
		left: 0 !important;
	}

	&.right-0 {
		right: 0 !important;
	}
}

.relative {
	position: relative !important;
}

.orders-state-filter {
	
	a {
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
		padding: 10px;
		color: #666;
		background: #fff;
		text-align: center;
		transition: 0.3s;
		border-radius: 5px;
		border: 1px solid #eee;

		&.active {
			background: $green-dark;
			color: #fff;
			pointer-events: none;
			border-color: $green-dark;
		}

		&:hover:not(.active) {
			transform: scale(1.05);
		}
	}
}

/* CABOODLE CARDS */
.caboodle-card {
	background: $white;
	border-radius: 6px;
	margin: 0 auto 20px;
	box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
	max-width: 100%;
	padding: 0 30px;
	position: relative;
	overflow: visible;

	&.no-padding {
		padding: 0;
	}

	&.less-margin {
		margin-bottom: 10px;
	}

	&.show-overflow {
		overflow: visible;
	}

	&.user-card {
		padding:10px 15px;
		background: $grey-10;
		border: 1px solid $grey-10;
	}
	&.dashboard-card {
		padding:10px 15px;
		border: 1px solid $grey-10;
	}

	&.permissions {
		padding: 0;

		h2 {
			padding: 0 30px;
		}

		.permission-list {
			max-height: 500px;
			overflow: auto;
			padding: 0 30px;
		}
	}

	&.bordered-style {
		border:1px solid #eee;
		box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.05);
	}

	.image {
		width: 35px;
		height: 35px;
		background-size: contain;
		background-position: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #ccc;
		margin-right: 10px;
	}
	
	.showbox {
		position: absolute;
		z-index: 1;
	}

	.caboodle-card-header {
		padding: 30px 0 ; 
		border-bottom: 1px solid $grey-10;

		h3, h4 {
			margin-bottom: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		.filters {
			margin-top: 0;
		}
		
	}

	.caboodle-card-footer {
		padding: 30px 0;
		border-top: 1px solid $grey-10;
	}

	.caboodle-card-body {
		padding: 30px 0;
		border-bottom: 1px solid $grey-10;

		&:last-child {
			border-bottom: none!important;
		}

		&.small-padding {
			padding: 10px;
		}

		.header {
			margin-bottom: 30px;
		}
	}
	
	.less-padding {
		padding: 15px 0 !important;
	}

	.header {
		h4 {
			margin-bottom: 0;
		}

	}

	hr {
		margin: 0 0 30px;
	}

	&.no-shadow {
		box-shadow: none;
	}
	
	.profile-card {
		display: flex;

		.image {
			background: $white;
			min-width: 100px;
			width: 100px;
			height: 100px;
			text-align: center;
			border-radius: 3px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 8px;
			display: flex;
			align-items: center;
			margin-right: 15px;

			i {
				flex: 1;
				color: $grey-60;
				font-size: 80px;
			}

			&.no-image {
				border: 1px solid $grey-10;
				padding: 10px;
			}
		}
	}

	.form-input-icon-control {
		display: flex;
		padding-top: 38px;
		padding-left: 15px;
	}
}

/* CABOODLE TABLE */
.caboodle-table {
	width: 100%;
	font-size: $small;

	thead {
		tr {
			border-bottom: 1px solid $grey-10; 

			th {
				padding: 5px 10px;
				font-weight: bold;

				i, span {
					padding-left: 10px;
				}

				.actions-dropdown {

					.caboodle-btn {
						height: 30px;
						line-height: 30px;
						font-size: $small;

						i {
							padding-left: 10px;
						}
					}
				}
			}
		}

	}

	tbody {
		tr {
			border-bottom: 1px solid $grey-10; 

			&:last-child {
				border-bottom: none;
			}

			&:hover, &.selected {
				background: $grey-5;
			}

			td {
				padding: 10px;

				&.empty {
					text-align: center;
					background: $grey-10;
				}

				img {
					max-width: 50px;
				}
				
				.image {
					width: 40px;
					min-width: 40px;
					height: 40px;
					text-align: center;
					border: 1px solid transparent;
					border-radius: 3px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					margin-right: 8px;
					display: flex;
					align-items: center;
 
					i {
						flex: 1;
						color: $grey-60;
						font-size: $xx-large;
					}

					&.no-image {
						border: 1px solid $grey-20;
					}
				}

				a {
					i {
						font-size: $large;
						color: $grey-60;
					}

					&:hover {
						i {
							color: $grey-100;
						}
					}
				}

				.mdc-icon-toggle:after, .mdc-icon-toggle:before {
					border-radius: 4px;
				}

				.table-item-notif {
					position: absolute;
					bottom: initial;
					height: 13px;
					width: 13px;
					padding: 0;
					left: -8px;
					top: 0px;
					border: 2px solid $white !important;
				}
			}

			&.collapse-info {
				td {
					padding: 0;
					background: #fafafa;
					position: relative;

					.collapse-container {
						overflow: hidden;
						max-height: 0;
						position: relative;
						box-shadow: inset 0 2px 0 $green-medium;

						.collapse-control-container {
							padding: 20px;

							.product-row {
								display: grid;
								grid-template-columns: 70px 1fr 50px 150px;
								align-items: center;
								grid-gap: 10px;
								margin-bottom: 10px;
								border: 1px solid #eee;
								padding: 5px;
								background: #fff;
								border-radius: 5px;
								.img-container {
									width: 50px;
									height: 50px;
									text-align: center;
									border: 1px solid #aaa;
									display: flex;
									align-items: center;
									justify-content: center;
									font-size: 25px;
									color: #ccc;

									img {
										width: 40px;
										height: 40px;
										object-fit: contain;
									}
								}

								&.header {
									background: transparent;
									font-weight: bold;
									margin-bottom: 0;
									border: none;
								}
							}
						}
					}
				}
			}
		}
	}
	
	&.caboodle-table-thin {
		th {
			&:first-child {
				padding: 5px;
				width: 40px;
			}
		}
		tbody {

			td {
				padding: 5px 10px;
				font-size: $small;

				&:first-child {
					padding: 5px;
				}

				.image {
					width: 35px;
					min-width: 35px;
					height: 35px;
					margin-right: 15px;
				}
			}
		}
	}

	&.caboodle-table-small {
		font-size: $x-small;
	
		tbody {
			td, th {
				font-size: $x-small;
			}

			a, a i {
				font-size: $small;
				color: $grey-60;

				&:hover {
					color: $grey-100;
				}

				&:not(:first-child) i {
					margin-left: 10px;
				}
			}
		}
	}

	tbody {
		.depth-child {
			background: $grey-5;
			
			td {
				&:nth-child(2) {
					padding: 5px;
					width: 40px;
				}
			}
		}
	}
}

.table-body {

	.scroll-wrapper {
		max-height: 500px;
	}
}

/* CABOODLE LINK */
.caboodle-link {
	color: $blue-medium;

	&:hover {
		color: $blue-dark;
		text-decoration: underline;
	}
}

/* CABOODLE HEADING */

*[class^="heading-"] {
	margin-bottom: 10px;
	font-weight: bold;
}

*[class^="subheading-"] {
	color: $grey-80;
	margin-bottom: 10px;
}

.sub-text-1 {
	font-size: $small;
	color: $grey-80;
}

.sub-text-2 {
	font-size: $x-small;
	color: $grey-80;
}
.sub-text-3 {
	font-size: $x-x-small;
	color: $grey-80;
}
.sub-text-4 {
	font-size: $xx-small;
	color: $grey-80;
}
.sub-text-5 {
	font-size: $xxx-small;
	color: $grey-80;
}

.heading-1 {
	font-size: $x-large;
}

.heading-2 {
	font-size: $large;
}

.heading-3 {
	font-size: $medium;
}

.subheading-1 {
	font-size: $large;
}

.subheading-2 {
	font-size: $medium;
}

.subheading-3 {
	font-size: $small;
}

/* CABOODLE ALERTS */

.caboodle-alert {
	color: $white;
	padding: 15px;
	font-size: $small;
	border-radius: 6px;
	box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);

	&.success {
		background: $success;
	}

	&.warning {
		background: $warning;
	}

	&.error {
		background: $error;
	}

	&.info {
		background: $info;
	}

	&.light {
		background: $white;
		color: $grey-80;
	}

	&.dark {
		background: $grey-80;
	}

	&.grey {
		background: $grey-10;
		color: $grey-80;
	}
	
	&.with-image {
		padding: 8px 15px;

		.image {
			width: 35px;
			min-width: 35px;
			height: 35px;
			text-align: center;
			border: 1px solid transparent;
			border-radius: 3px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 15px;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;

			&.no-image {
				border: 1px solid #dee1e2;
			}

			i {
				flex: 1;
				color: #9da4a9;
				font-size: 24px;
			}
		}
	}

	.close-btn {
		flex: 1;
		text-align: right;

		a {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

#toast-container {
	width: 100%;
	max-width: 450px;

	.toast  {
		@extend .caboodle-alert;
		background-image: none !important;
		padding-right: 30px;
		width: 100%;
		max-width: 450px;
		opacity: 0.9;

		&.toast-success {
			@extend .caboodle-alert, .success;
		}
		&.toast-info {
			@extend .caboodle-alert, .info;
		}
		&.toast-warning {
			@extend .caboodle-alert, .warning;
		}
		&.toast-error {
			@extend .caboodle-alert, .error;
		}
		&:hover {
			box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
		}

		.toast-close-button {
			font-weight: lighter;
			box-shadow: none;
			text-shadow: none;
			right: 0px;
			top: 0px;
		}

		.toast-title {
			font-weight: bold;
		}
	}
}

/* 
	Tag them mixin
	@param $color - background color
	@param $hover-color - background-color on hover
	@param $text-color - default text color
 */
 @mixin tag-theme($color, $hover-color, $text-color) {
	background: $color;
	color: $text-color;
	border: 1px solid  $color;

	&:hover {
		border-color: $hover-color;
		background: $hover-color;
	}
 }

/* CABOODLE TAGS */
.caboodle-tag {
	font-size: $xx-small;
	color: $white;
	padding: 3px 10px;
	border-radius: 50px;
	display: inline-block;
	@include tag-theme($blue-medium, $blue-dark, $white);

	i {
		padding-right: 6px;
	}

	.tag-close {
		color: inherit;

		i {
			padding-right: 0;
			padding-left: 6px;
		}

		&:hover {
			opacity: .6;
		}
	}
	&.caboodle-tag-secondary {
		@include tag-theme($secondary-medium, $secondary-dark, $white);
	}

	&.caboodle-tag-primary {
		@include tag-theme($primary-medium, $primary-dark, $white);
	}

	&.caboodle-tag-small {
		padding: 0 10px 2px;
		line-height: 1.5;
		border-radius: 4px;
	}

	&.caboodle-tag-dark {
		@include tag-theme($grey-80, $grey-100, $white);
	}
	
	&.caboodle-tag-grey {
		@include tag-theme($grey-20, $grey-40, $grey-80);
	}
	
	&.caboodle-tag-light {
		@include tag-theme($white, $grey-10, $grey-80);
		border-color: $grey-80 !important;
	}

	&.caboodle-tag-success {
		@include tag-theme($green-medium, $green-dark, $white);
	}

	&.caboodle-tag-danger {
		@include tag-theme($red-medium, $red-dark, $white);
	}

	&.caboodle-tag-warning {
		@include tag-theme($orange-medium, $orange-dark, $white);
	}

	&.caboodle-tag-purple {
		@include tag-theme($purple-medium, $purple-dark, $white);
	}

	&.caboodle-tag-pink {
		@include tag-theme($pink-medium, $pink-dark, $white);
	}
}

.caboodle-notif-tag {
	@extend .caboodle-tag;
	border-radius: 30px;
	padding: 4px 8px;
}

.hide {
	display: none;
}


/* CABOODLE MODAL */
.modal-open {
	padding-right: 0 !important;
}

.modal {
	padding-right: 0 !important;

	.modal-dialog {
		
		.modal-content {
			
			.modal-header {
				background: $grey-5;
				border-bottom: none;
				text-transform: capitalize;
				padding: 15px 30px;
			}
			
			.modal-filters {
				padding: 15px 30px;
			}
			
			.modal-body {
				padding: 15px 30px;
				
				&.modal-body-limi-height {
					max-height: 500px;
					overflow: auto;
				}

				.reorder-option-values, .variant-list {
					li {
						color: $white;
						border-radius: 4px;
						margin-bottom: 3px;
						margin-right: 3px;
						display: inline-block;

						.remove {
							padding-left: 8px;
							font-weight: bold;
							cursor: pointer;
							font-size: 14px;

							&:hover {
								color: $grey-100;
							}
						}

						&.drag {
							cursor: pointer; /* fallback if grab cursor is unsupported */
							cursor: grab;
							cursor: -moz-grab;
							cursor: -webkit-grab;

							&:active, &:focus {
								cursor: grabbing;
								cursor: -moz-grabbing;
								cursor: -webkit-grabbing;
							}
						}
					}
				}
			}
			
			.modal-footer {
				border-top: none;
				padding: 30px;
			}
		}

		.modal-filters {
			padding: 30px;

			.form-control-stylized {
				.form-control {
					padding-left: 30px;
				}
			}
		}
	}

	&#delete-modal {

		.modal-dialog {

			.modal-content {

				.content {
					margin-top: 40px;

					h3 {
						margin-top: 20px;
					}

					i {
						font-size: 45px;
					}

					.buttons-container {
						margin-top: 50px;
					}
				}
			}
		}
	}
	
	.loader {
		top: 15px;
		bottom: initial;
		position: sticky;
	}
}

/* CABOODLE PAGINATION */
.caboodle-pagination {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;

	.pagination {
		align-self: flex-end;
		margin: 0;

		li {
			border: 1px solid $grey-40;
			color: $grey-100;
			border-radius: 4px;
			margin: 0 2px;
			font-size: $x-small;
			display: flex;
			align-items: center;
			line-height: 35px;
			
			a,span {
				color: $grey-100;
				font-size: $small;
				padding: 8px 15px;
				line-height: 20px;
			}
			
			&:hover, &.active {
				border: 1px solid $primary-medium;
				a, span {
					color: $primary-medium;
				}
			}
			&.disabled {
				background: $grey-20;
				color: $white;
				border: 1px solid $grey-20;
				
				span {
					color: $white;
				}
				&:hover {
					background: $grey-20;
					color: $white;
					border: 1px solid $grey-20;

					span {
						color: $white;
					}
				}
			}
		}
	}
}

.category-tree-table {
	margin: 0;
	border-left: 1px solid $grey-40;
	border-bottom: 1px solid $grey-40;

	.category-details {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		padding: 0px;
		border-top: 1px solid $grey-40;
		background: #fff;

		>.delete-box {
			border-right:1px solid $grey-40;
			position: relative;
			padding: 0 10px;
			
			cursor: pointer;
			line-height: 41px;

			.form-box-checkbox {
				cursor: pointer;
				margin-right: 0;

				input {
					cursor: pointer;
					box-shadow: none;
					border: none;
					display: block;
					outline: none;
				}
			}
		}

		>.category-title {
			width:100%;

			&.selected {
				>.flex-container {
					background-color: $primary-medium;
					color: $white;

					&:hover {
						background-color: $primary-dark;
					}
				}
			}

			>.flex-container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-transition: .2s;
				transition: .2s;
				border-right: 1px solid $grey-40;
				
				cursor: pointer;
				flex-wrap: nowrap;
					
				>.title {
					width: 100%;
					padding: 10px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
						-ms-flex-align: center;
							align-items: center;

					>div{
						width:100%;

						&.image {
							width:	40px;
							height: 40px;
							border: 1px solid #ccc;
							margin-right: 5px;
							display: flex;
							align-items: center;
							justify-content: center;

							> div {
								width: 40px;
								text-align: center;
							}

							i {
								font-size: 20px;
								color: #ccc;
								margin: auto;
							}

							img {
								width: 40px;
								height: 40px;
								object-fit: contain;
								object-position: center;
								background-color: #ccc;
							}
						}

						&.drop-down{
							width: auto;
							display: inline-block;
							-webkit-transition: .3s;
							transition: .3s;
						}
					}
				}

				>.child-indicator {
					font-size: $x-small;
					margin: -5px 5px 0 10px;
				}

				>.action {
					/* margin:0 10px;*/
					display: inherit;

					.btn {
						margin: 0 10px;
					}
				}

				&:hover {
					background-color: $grey-10;
				}
			}

			>.child-collapse {
				-webkit-transition: .5s;
				transition: .5s;
				max-height: 0;
				overflow: hidden;

				>.category-details {
					border-top: 1px solid transparent; 
				}

				&.in {
					-webkit-transition: 2s;
					transition: 2s;
					max-height: 5000px;
					overflow: visible;
					
					>.category-details {
						border-top: 1px solid $grey-40;
					}
				}
			}

			&.in {
				>.flex-container {
					>.title {
						>.drop-down {
							-webkit-transform: rotate(180deg);
									transform: rotate(180deg);
						}
					}
				}
			}
		}

		label {
			padding: 10px;
		}
	}
}

.fa-star {
	color: $warning;
}

.product-reviews {

	&.review-view-section {
		margin-bottom: 30px;
	}

	.product-info {
		background-color: $white;

		.container-fluid {
			display: flex;
			padding: 10px 0px;

			> div {
				align-self: auto;
				padding: 0px 5px;

				&.rating-avg-container {

					.rating-avg {
						width: 100%;
						font-size: 50px;
						text-align: center

					}
				}

				&.rating-breakdown-container {
					width: 280px;

					ul {
						padding-left: 0;

						> li {
							list-style: none;
							padding: 5px 0px;

							label {
								min-width: 80px;
								margin-bottom: 3px;
								font-size: $x-small;
								font-weight: bold;
							}

							div.line {
								width: 100%;
								border-bottom: 1px solid $grey-40;
							}

							div.percentage {
								border-top: 1px solid $primary-medium;
							}

							span.num {
								border: 1px solid $grey-40;
								border-radius: 3px;
								padding: 0px 8px;
								font-size: 12px;
								float: right;
								background: $grey-5;
							}
						}
					}

				}

				&.rating-info-text-containerd {

					p {
						display: block; /* Fallback for non-webkit */
						display: -webkit-box;
						max-width: 400px;
						margin: 0 auto;
						line-height: 1.4;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.image {
			height: 100px;
			width: 100px;
			background-color: $white;
			// background-image: url(../img/admin/default.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid rgba(195, 207, 216, 0.3);
		}
	}
}


/* Selected Country List */
.selected-country-list{
	margin-top: 10px;
	padding: 0;

	li {
		width: 100%;
		padding: 10px;
		list-style-type: none;
		background: none;
		margin: 0;
		font-size: $small;
		padding: 5px 10px;

		&:hover { 
			background: $grey-5;
		}

		.list-title {
			line-height: 36px;
		}
		
		.provinces {
			cursor: pointer;
			margin-right: 10px;
			font-size: $x-small;
		}
		.flex-item {
			width: 100%;
			
			.close {
				cursor: pointer;
			}
		}
	}
}

.rating-list {
	padding-left: 0;
	list-style: none;
	display: -webkit-inline-box;
	display: inline-flex;
	margin-right: 5px;
	margin-bottom: 0;

	li {
		display: inline-block;
		padding-left: 3px;
		padding-right: 3px;
		opacity: 1;
		color: $orange-medium;

		&.active , &.light {
			opacity: 1 !important;
			color: $orange-medium !important;
		}

		&.active ~ li {
			opacity: 0.3;
			color: inherit;
		}

		&.light:last-child ~ li , &.off{
			opacity: 0.3 !important;
			color: inherit !important;
		}
	}

	&:not(.display) li:hover ~ li {
		opacity: 0.3 !important;
	}
}

.clickable {
	cursor: pointer;
}

.variants-container {
	#option1 {
		color: $success;
	}

	#option2 {
		color: $warning; 
	}

	#option3 {
		color: $secondary-medium; 
	}

	.image {
		width: 40px;
		height: 40px;
		min-width: 40px;
		background-color: $white;
		// background-image: url(../img/admin/default.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: 1px solid $grey-20;
	}

	.product-info {
		display: flex;

		.info-box {
			&:first-child {
				margin-right: 15px;
			}
		}

		.image {
			width: 68px;
			height: 68px;
			min-width: 68px;
		}

		.sub {
			padding-top: 3px;
			opacity: 0.8;
			font-size: $x-small;
		}

		.link {
			padding-top: 5px;
			
			a {
				color: $primary-medium;
				text-decoration: underline;
			}
		}
	}

	.variant-list {
		list-style: none;
		padding-left: 0;

		li {
			&:last-child {
				> a  {
					> div {
						border-bottom: none;
						border-radius: 0 0 6px 6px;
					}
				}
			}
			> a  {
				> div {
					padding: 14px 15px;
					border-bottom: 1px solid $grey-10;
					color: $grey-80;

					.image {
						margin-right: 10px;
					}

				}

				&:hover {
					> div {
						background-color: $primary-medium;
						color: $white;
					}
				}
			}

			&.active {
				> a {
					> div {
						background-color: $primary-medium;
						color: $white;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.variant-selector {
	margin: 10px 0;

	.variant-selector-list {
		display: inline;
		margin: 0;
		padding-left: 0;

		.variant-selector-item {
			display: inline-block;
			margin-right: 7px;
		}

		.variant-selector-link {
			cursor: pointer;
		}
	}
}

.reorder-variant {
	tr {
		&:first-child {
			td:first-child span {
				color: $primary-medium;
			}
		}
		&:nth-child(2) {
			td:first-child span {
				color: $secondary-medium;
			}
		}
		&:nth-child(3) {
			td:first-child span {
				color: $warning;
			}
		}
	}
	td {

		.reorder-option-values {
			padding-left: 0;
			li {
				color: $white;
				background: $primary-medium;
			}
		}
		&:first-child {
			line-height: 34px;
			cursor: pointer;

			i {
				font-size: 13px;
				padding-right: 10px;
				cursor: pointer; /* fallback if grab cursor is unsupported */
				cursor: grab;
				cursor: -moz-grab;
				cursor: -webkit-grab;

				&:active, &:focus {
					cursor: grabbing;
					cursor: -moz-grabbing;
					cursor: -webkit-grabbing;
				}
			}
		}
		.reorder {
			padding-right: 10px;
		}
	}
}

.variant-list {
	padding-left: 0;
	margin: 0;
}

#variantsForm {
	width: 100%;
	position: relative;

	.tooltipped {
		position: relative;
	}

	&.caboodle-card,
	.caboodle-card,
	.caboodle-card-body {
		overflow: unset;
	}

	.move-up-btn,
	.move-down-btn {
		font-size: $xx-small;
	}

	.variant-data-container {
		.variant-grp-box,
		.combo-grp-box {
			margin-top: 20px;
			border-radius: 5px;
			box-shadow: 0 5px 5px -5px $grey-20;
			border: 1px solid $grey-20;

			.grp-header {
				padding: 0 10px;
				font-size: $medium;
				font-weight: bold;
				color: $primary-medium;
				border-bottom: 1px solid $grey-20;

				.animated-placeholder {
					margin-left: 10px;
				}
			}

			.grp-options{

				.option {
					position: relative;
					border-bottom: 1px solid $grey-20;
					width: 100%;
					background-color: $white;
					transition: .2s;

					input {
						&.invalid {
							border-color: $error !important;
						}
					}

					&-header {
						font-weight: bold;
						background: $grey-5;
					}

					&:last-child {
						border-bottom: none;
						border-radius: 0 0 5px 5px;
					}

					&-image {
						width: 60px;
						
						.placeholder {
							border-radius: 3px;
							border: 1px dashed #ccc;
							width: 60px;
							height: 60px;

							i {
								font-size: 20px;
								opacity: 0.6;
							}

							&.no-border {
								border: none;
							}
						}

						.image-data-container {
							width: 60px;
							height: 60px;
							overflow: hidden;

							.image-display-container {
								width: 60px;
								height: 60px;
								position: relative;
								z-index: 2;

								> div {
									z-index: 2;
									height: 100%;
									transition: 0.2s;

									> div {
										width: 100%;
									}
								}

								img  {
									position: absolute;
									width: 100%;
									height: 100%;
									object-fit: contain;
									background-color: #666;
									transition: 0.3s;
								}
							}

							.preview-image,
							.remove-image {
								transition: .2s;
								transform: translateX(100%);
								position: relative;
								z-index: 10;
							}

							&:hover {
								.image-display-container {

									>div {
										background: rgba(0, 0, 0, 0.5);
									}

									img {
										filter: blur(1px);
									}
								}

								.preview-image,
								.remove-image {
									transform: translateX(0);
									transition-delay: 0.2s;
								}
							}
						}
					}

					&-name {
						width: 100%;
						padding:15px;
					}

					&-price {
						width: 350px;
						padding:15px;
					}

					&-suffix {
						width: 200px;
						padding:15px;
					}

					&-actions {
						width: 80px;
						text-align: right;
						padding:15px;
					}

					&-active {
						box-shadow: 0 0 0 1px $grey-20;
						z-index: 2;
						background: $grey-5;
					}
				}
			}
		}

		&.variant-combinations {
			.combo-grp-box {
				position: relative;
				padding: 5px 10px;
				overflow: hidden;

				.combo-header{
					.small-lbl {
						color: $primary-medium;
						font-size: $xx-small;
						font-weight: bold;
					}
				}

				> .lock-control {
					position: absolute;
					right: 5px;
					top: 5px;
					transition: .2s;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						color: $white;
						height: 30px;
						width: 30px;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: $success;
						opacity: 1;
						box-shadow: 0 5px 5px 0 $grey-80;
					}

					.enable-btn {
						display: none;
					}

					&:not(.locked) {
						transform: scale(0, 0);
					}

					&.locked {
						width: 100%;
						height: 100%;
						right: 0;
						top: 0;
						left: 0;
						bottom: 0;
						border-radius: 0;
						background: rgba(0, 0, 0, 0.5);

						.enable-btn {
							display: flex;
						}

						.disable-btn {
							display: none;
						}

						i {
							font-size: 20px;
							background: $error;
							height: 40px;
							width: 40px;					
						}
					}
				}

				&:hover {
					.lock-control:not(.locked) {
						transform: scale(1,1);
					}
				}
			}	
		}	
	}

	.combo {
		position: relative;
		.option {
			display: inline-block;
			border-radius: 5px;
			margin-top: 5px;
			border: 1px solid $primary-medium;
			overflow: hidden;
			position: relative;

			&-group {
				font-size: $xx-small;
				background-color: $primary-medium;
				color: $white;
				padding: 2px 5px;
			}

			&-name {
				padding: 0 5px;
				font-size: $x-small;
			}
		}
	}


	.old-data-overlay {
		position: absolute;
		min-height: 300px;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.8);
		justify-content: center;
		border-radius: 5px;
		
		.caboodle-card {
			margin: 0;
		}

		.fa-exclamation-circle {
			font-size: $xxx-large;
		}

		button {
			margin:0 5px;
		}
	}
}

.dropdown-menu {
	li {
		padding: 10px;

		a {
			color: $grey-80;
			display: block;
		}

		&:hover {
			background: $secondary-medium;
			a {
				color: $white;
			}
		}
	}
}
.avatar {
	display: flex;
	flex-flow: row wrap;
	color: $grey-80;

	img {
		max-width: 60px;
	}

	> :first-child {
		margin-right: 15px;
	}
}

/* TIMELINE */
.timeline {
	list-style: none;
	padding-left: 15px;
	position: relative;

	&:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 4px;
		background-color: $grey-20;
		left: 0%;
		margin-left: 15px;
	}

	> li {
		position: relative;
		margin-top: 10px;

		&:before, &:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}
		
		&:first-child {
			.timeline-date-header {
				padding-top: 10px;
			}
		}

		> .timeline-panel {
			width: 100%;
			float: left;
			padding-left: 30px;
			margin-bottom: 10px;
		}

		> .timeline-badge {
			color: #fff;
			width: 35px;
			height: 35px;
			line-height: 35px;
			font-size: $small;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0%;
			margin-left: -15px;
			background-color: $grey-40;
			z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;

			&.badge-relative {
				position: relative;
			}
		}
	}

	.timeline-badge {
		&.primary {
			background-color: $secondary-medium!important;
		}
		&.success {
			background-color: $success !important;
		}
		&.warning {
			background-color: $warning !important;
		}
		&.danger {
			background-color: $error !important;
		}
		&.info {
			background-color: $secondary-medium !important;
		}
	}

	.timeline-date-header {
		padding: 20px 15px 0 30px;
	}

	.timeline-content-row-content {
		padding-left: 15px;
		font-size: $x-small;
	}
	
	.panel-collapse {
		padding-top: 10px;
	}
}

.filters {
	margin-top: 0;
	padding: 0 30px;
	
	@media #{$tablet} {
		.caboodle-flex {
			display: block;
		}
	}
}

.count {
	font-size: $xxx-large;
}

.variant-text {
	&.option-1 {
		color: $orange-medium;
	}

	&.option-2 {
		color: $green-medium;
	}

	&.option-3 {
		color: $purple-medium;
	}
}

/* BROWSE SELECTED ITEMS */
.browse-selected-item {
	font-size: $x-small;

	td {
		padding: 5px 0;
	}

	.image {
		width: 40px;
		min-width: 40px;
		height: 40px;
		text-align: center;
		border: 1px solid transparent;
		border-radius: 3px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 8px;
		display: flex;
		align-items: center;

		i {
			flex: 1;
			color: $grey-60;
			font-size: $xx-large;
		}

		&.no-image {
			border: 1px solid $grey-20;
		}
	}
	.title-col {
		padding-right: 30px;
		table {
			td {
				padding: 5px;
			}
		}
	}
	.discount-col {
		input {
			width: 80px;
			margin-right: 20px;
			font-size: 12px;
			padding-left: 20px;
			> div {
				width: 20px;
			}
		}
	}
	.price-col {
		text-align: right;
		white-space: nowrap;
	}
	.times-col {
		padding: 0 10px;
	}
	.quantity-col {
		width: 110px;
		padding-right: 10px;
	}
	.subtotal-col {
		padding-right: 15px;
		white-space: nowrap;
	}
	.remove-col {
		.remove-btn {
			font-size: $small;
			color: $red-medium;

			&:hover {
				color: $red-darker
			}
		}
	}

	&-flexed {
		> div {
			padding: 5px 0;
			
			&.subtotal-col {
				width: 110px;
			}
		}
	}
}

.browse-selected-products-price-details {
	.price-information {
		.price-item {
			padding: 5px 0;
		}

		.red-text {
			color: $error;
		}
	}
}

.order-information-modal {
	.order-information-type-content {
		padding-left: 40px;
	}

	.coupon-display {
		display: flex;
		margin-top: 15px;
		border: 1px solid $grey-20;
		border-radius: 3px;
		align-items: center;
		justify-content: center;
		height: 50px;

		.coupon-display-price {
			font-weight: bold;
		}

		.coupon-display-check {
			padding-left: 10px;
		}
	}
}


.order-general-details {

	.select-customer-btn {
		display: flex;
		align-items: center;

		i {
			padding-left: 10px;
			color: $warning;
			font-size: $large;
			cursor: pointer;
		}
	}

	.title-edit-btn {
		font-size: $small;
		padding-left: 10px;

		&:hover {
			color: $secondary-light;
		}
	}
}

@import "invoice";

// POPOVER AUTO COMPLETE STYLES
.autocomplete-list {

	li {
		padding: 5px 15px;
		border: none;
		cursor: pointer;
		transition: .1s;

		&:hover {
			background: $primary-medium;
			color: $white;
		}
	}
}

#importSummaryModal{
	.form {
		display: block !important;
	}
	.modal-dialog {
		margin: 0 auto;
		padding: 1.75rem 0;
		max-height: 100%;
		display: flex;

		.modal-content {
			max-height: 100%;

			> form {
				max-height: 100%;
				display: flex;

				> .flex {
					flex-direction: column;
					max-height: 100%;
				
					.modal-body {
						flex: none;
					}
				}
			}
		}
	}
}

#productSummaryList {
	width: 100%;
	overflow: auto;
	flex: 1;
	padding: 0 30px;
	height: 50vh;
    min-height: 150px;
	.summary-item {
		border-radius: 5px;
		border: 1px solid $grey-20;
		margin: 10px 0;

		.item-img {
			border-radius: 5px;
			border: 1px solid $grey-20;
			margin:5px 10px;
			width: 50px;
			height: 50px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			i {
				color: $primary-medium;
				font-size: 30px;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.item-details {
			width: 100%;
			flex-wrap: wrap;
			padding: 5px;

			.detail {
				width: 100%;
				font-size: 12px;

				.label {
					width: 100px;
					font-weight: bold;
				}

				.value {
					width: 100%;
				}
			}
		}

		.summary-item-variants {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
			grid-gap: 10px;
			margin: 5px 10px;
			
			.variant-details {
				min-width: 50px;
				border: 1px solid $grey-20;
				padding: 5px 8px;
				border-radius: 5px;
				
				.detail-header {
					display: flex;
					align-items: center;
					.item-img {
						margin-left: 0;
						width: 25px;
						height: 25px;
						min-width: 25px;
						margin-right: 5px;
						i {
							font-size: 14px;
						}
					}
					.price {
						font-size: 10px;
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
				.detail {
					font-size: 11px;
				}
			}
		}
	}
}

.permission {
	margin-bottom: 20px;

	&-module {
		border-bottom: 1px solid $primary-medium;

		&.store {
			border: 1px solid #ccc;
			border-radius: 5px;

			.form-group {
				padding: 15px;
			}
		}
	}

	&-ability {
		padding-left: 15px;
		position: relative;

		.disable-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff9;
			display: none;
		}

		&.disabled {
			.disable-overlay {
				display: block;
			}
		}
	}
}

.list-card-accordion {
	.card {
		border: none;
		margin-top: 15px;
		background: $grey-10;
		padding: 0 15px;
		border-radius: 5px;

		&:first-child {
			margin-top: 0;
		}

		.card-header {
			cursor: pointer;
			border: none;
			background: none;
			padding: 15px 0;
			border-bottom: 1px solid $grey-20;

			&.collapsed, &[aria-expanded="false"] {
				border-bottom: none;
			}

			a {
				color: $secondary-medium;
				font-weight: bold;
				
				&:hover {
					color: $secondary-dark;
				}
			}
		}

		.card-body {
			padding: 15px 0;
		}

		.card-footer {
			border-top: 1px solid $grey-20;
			background: none;
			padding: 15px 0;
		}
	}
}
.bootstrap-datetimepicker-widget.dropdown-menu {
	margin-top: 7px;
	li {
		&:hover {
			background: $white;
		}

		.timepicker-picker {
			.btn.btn-primary {
				border: none;
				background: $primary-medium;

				&:hover {
					background: $primary-dark;
				}
			}
		}
	}
	table {
		td {
			border-radius: 0;
			&.day {
				font-size: $x-small;
				line-height: 30px;
				height: 30px;
			}

			&.disabled {
				background-color: $grey-10;
			}

			span {
				color: $grey-100 !important;
			}
			&.active, &.active:hover {
				background-color: $primary-medium;
			}
		} 
	}
}
.empty-message {
	text-align: center;
	padding: 40px;
	border: 2px dashed #aaa;
	border-radius: 5px;
	box-shadow: 0 5px 7px -5px rgba(0,0,0,.05);
}


// ANIMATED PLACEHOLDER INPUT
.animated-placeholder {
	position: relative;

	input {
		border: none;
		box-shadow: none;
		padding: 20px 0;
		position: relative;
		z-index: 2;
		background: transparent;
		color: #333;
		width: 100%;
		font-weight: bold;
	}

	.placeholder {
		position: absolute;
		left: 0;
		top: 20px;
		color: $grey-40;
		transition: .2s;

		.add-on-filled {
			display: none;
		}
	}

	&.filled {

		.placeholder {
			font-size: $xx-small;
			color: $primary-medium;
			top: 5px;

			.add-on-empty {
				display: none;
			}

			.add-on-filled {
				display: initial;
			}
		}
	}

	&.invalid {
		.placeholder {
			color: $error;
		}
	}
	.parsley-errors-list {
		padding-left: 0;
		.parsley-required {
			color: $error;
			font-size: $x-small;
		}
	}
}

// TOOLTIP HELPER
.with-tooltip-helper {
	position: relative;
	display: inline-block;

	.tooltip-helper {
		position: absolute;
		right: -25px;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 16px;
		padding: 0;
	}
}

// CABOODLE TAB
.caboodle-tab {
	.nav-tabs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
		position: relative;
		z-index: 2;
		border: none;
		background: #fff;
		border-bottom: 1px solid #eee;
		margin-bottom: 5px;
		// border-bottom: 1px solid $primary-medium;

		// li{
		// 	a {
		// 		padding: 15px;
		// 		margin-bottom: -1px;
		// 		border-radius: 5px 5px 0 0;
		// 		display: inline-block;
		// 		color: $primary-medium;

		// 		&.active {
		// 			border: 1px solid $primary-medium; 
		// 			background: $primary-medium;
		// 			color: #fff;
		// 		}
		// 	}
		// }
		
		.tab-pill {
			padding: 10px 15px;
			background: #fff;
			cursor: pointer;
			transition: 0.2s;
			position: relative;
			height: 100%;

			&:hover,
			&.active {
				z-index: 2;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}

	.tab-content {
		background: #fff;
		padding: 30px;
		box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 20px;

		.tab {
			display: none;

			&.show {
				display: block;
			}
		}
	}
}

.caboodle-calendar {
	.calendar-dates-row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.calendar-date {
			border-radius: 5px;
			box-shadow: 0 0 0 1px $primary-medium;
			width: 100%;
			margin: 0 15px;
			overflow: hidden;
			transition: .2s;
			position: relative;

			.date-header {
				background: $primary-medium;
				color: #fff;
				padding: 10px;
				font-size: 12px;
				text-align: center;
			}

			.date-day {
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				padding: 25px;
				color: $primary-medium;
			}

			.actions {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				right: 0;
				padding: 0 5px;
				background: rgba(0,0,0,0.2);
				transform: translateX(100%);
				transition: .3s;

				.action {
					width: 30px;
					height: 30px;
					border-radius: 100%;
					box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 5px;
					margin-left: auto;
					
					i {
						font-size: 14px;
						color: #fff;
					}

					&[data-action=paste],
					&[data-action=unpaste] {
						display: none;
					}

					&[data-action=paste] {
						border: 1px solid #fff;
					}
				}
			}

			&:hover {
				transform: scale(1.05, 1.05);

				.actions {
					transform: translateX(0);
				}
			}

			&.empty {
				box-shadow: 0 0 0 1px #ccc;

				.date-header {
					background: #ccc;
				}
			}

			&.not-in-month {
				.date-day {
					color: #ccc;
				}
			}

			&.is-disabled {
				.date-header,
				.date-day {
					opacity: 0.5;
				}
			}

			&.calendar-loader {
				background: #f5f5f5;

				.date-header,
				.date-day {
					opacity: 0;
				}

				// &::after {
				// 	position: absolute;
				// 	content: '';
				// 	width: 50%;
				// 	height: 100%;
				// 	right: 0;
				// 	top: 0;
				// 	background: linear-gradient(90deg, rgba(255,255,255,0), #fff);
				// 	animation-name: loading;
				// 	animation-duration: 3s;
				// 	animation-iteration-count: infinite;
				// 	animation-timing-function: linear;
				// }

				// @keyframes loading {
				// 	from {
				// 		transform: translateX(-200%);
				// 	}

				// 	50% {
				// 		transform: translateX(100%);
				// 	}				

				// 	to {
				// 		transform: translateX(100%);
				// 		width: 0;
				// 	}
				// }
			}

		}
	}

	.copy-submit {
		transform: translateX(100%);
		transition: .3s;
	}

	&.edit-mode {
		.calendar-dates-row {
			.calendar-date {
				.actions {
					width: 100%;
					transform: none;

					.action {
						display: none;

						&[data-action=paste],
						&[data-action=unpaste] {
							display: flex;
							margin-left: auto;
							transition: .2s;
							position: absolute;
							right: 5px;
							top: 0;
						}

						&[data-action=unpaste] {
							transform: scale(0, 0);
						}
					}
				}

				&.selected {

					.actions {

						.action {

							&[data-action=paste] {
								transform: scale(0, 0);
							}

							&[data-action=unpaste] {
								transform: scale(1, 1);
							}
						}
					}
				}

				&.selected-copy {

					.copy-indicator {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;

						i {
							font-size: 20px;
							color: #fff;
							width: 50px;
							height: 50px;
							border-radius: 5px;
							border: 2px dashed #fff;
						}
					}
				}
			}
		}

		.copy-submit {
			transform: translateX(0);
		}
	}
}

.social-account {
	display: flex;
	align-items: center;
	.social-account-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $grey-60;
		background-size: cover;
		background-position: center;
	}
	.social-account-details {
		display: flex;
		align-items: center;
		padding-left: 10px;
		flex-direction: column;
		justify-content: end;
		flex: 1;
		.social-account-username {
			font-weight: bold;
			width: 100%;
		}
		.social-account-name {
			color: $grey-80;
			font-size: 11px;
			width: 100%;
		}
	}
}

.redactor-styles ol li, .redactor-styles ul li {
	list-style: disc;
}



.language-selector {
	margin: 10px 0;
	flex-direction: row-reverse;
	border: 1px solid #ddd;
	border-radius: 3px;
	overflow: hidden;
	
	.language-option {
		padding: 5px 10px;
		background-color: #eee;
		border-left: 1px solid #ddd;
		transition: 0.2s;

		&:last-child {
			border: none;
		}

		&:hover {
			background-color: #ccc;
		}

		&.active {
			background: #00a09a;
			color: #fff;
		}
	}
}

//CUSTOM ITEMS
.user-profile-image.sumo-asset-select {
	position: relative;

	label,
	.sumo-asset-img-hover-overlay {
		display: none;
	}
	
	.sumo-asset-img-container {
		border-radius: 100%;
		width: 250px;
		overflow: hidden;
		position: relative;
		margin: auto;
		cursor: pointer;
		display: flex !important;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center; 
			transition: 0.3s;
			// background-image: url(../img/caboodle/deathstar.png);
			background-size: 100px 100px;
			background-position: center center;
			background-color: #ccc;
			background-repeat: no-repeat;
		}
		
		.controls-overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s;
			opacity: 0;

			.icon-btn {
				width: 60px;
				height: 60px;
				color: #fff;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(0, 0, 0, 0.8);
				font-size: 20px;
			}
		}

		&:hover {
			img {
				filter: blur(2px);
			}

			.controls-overlay{
				opacity: 1;
			}
		}
	}

	&.disabled {
		pointer-events: none;
	}
}

.uni-selector.fade {
	.modal-dialog {
		position: absolute;
		left: 0;
		top: 0;
		max-width: 100%;
		width: 100%;
		height: 100%;
		margin: 0 !important;
		transform: translateX(-100%);
		transition: 0.3s;

		.modal-content {
			height: 100%;
			max-width: 50%;
			border-radius: 0 !important;

			.modal-body {
				flex: 1;
				max-height: initial !important;

				.image {
					background-size: contain;
					border: 1px solid #ccc;
					background-repeat: no-repeat;
				}
			}

			.modal-filters {
				display: flex;
				flex-wrap: wrap;

				> .filter-container {
					padding: 5px;
					
					label {
						font-size: 12px;
						margin: 0;
						padding: 0;
					}

					.filter-form {
						
						.select2-container--default{

							.select2-selection--single {
								background: none;
								border: 1px solid #ced4da;
								height: auto;
							}

							.select2-selection__arrow {
								height: 100%;
								display: flex;
								align-items: center;
								top: 0;
								right: 0;
								transition: 0.5s;
							}

							&.select2-container--open {

								.select2-selection--single {
									
									.select2-selection__arrow {
										transform: rotate(180deg);
										
										b {
											border-color: #888 transparent transparent transparent;
											border-width: 5px 4px 0 4px;
										}
									}
								}
							}
						}
						
						.select2-selection__rendered {
							padding: 0.375rem 0.75rem;
							padding-right: 20px;
							font-size: 1rem;
							line-height: 1.5;
						}

						&.with-icon {
							position: relative;
	
							i {
								position: absolute;
								left: 0;
								top: 0;
								padding: 5px 15px;
								display: flex;
								align-items: center;
								height: 100%;
							}
	
							input,
							select,
							.select2-selection__rendered {
								padding-left: 35px;
							}
						}
					}
				}
			}
		}

		.selected-container {
			opacity: 0;
			transition: 0.3s;
			color: #Fff;
			// background: rgba(0, 0, 0, 0.5);

			background-size: cover;
			background-position: center;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 10;
			pointer-events: auto;

			h4 {
				padding: 16px 30px;
				background: $green-medium;
			}

			.selected-container-body {
				// flex: 1;
				overflow: auto;
				padding: 10px;
				max-height: 100%;

				.selected-item {
					padding: 10px;
					border-radius: 5px;
					background: #fff;
					color: #111;
					animation-duration: 0.25s;
					margin-bottom: 10px;
					box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);

					.image {
						width: 35px;
						height: 35px;
						background-size: contain;
						background-position: center;
						border: 1px solid #ccc;
						border-radius: 3px;
						background-repeat: no-repeat;
						display: flex;
						align-items: center;
						justify-content: center;
						border: 1px solid #ccc;
						margin-right: 10px;
					}

					.remove-btn {
						color: $red-dark;
						cursor: pointer;
						transition: 0.1s;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 40px;

						&:active {
							transform: scale(0.8);
						}
					}
				}
			}

			.total-selected-counter,
			.data-total {
				padding: 0 10px;

				span {
					font-weight: bold;
					font-size: 1.1em;
				}
			}
		}
	}

	&.show {
		.modal-dialog {
			transform: translateX(0);

			.selected-container {
				opacity: 1;
				transition-delay: 0.3s;
			}
		}
	}
}

.uni-selector-selected-items {
	padding: 10px;

	.selected-item {
		padding: 10px;
		border-radius: 5px;
		background: #fff;
		color: #111;
		animation-duration: 0.25s;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);

		.image {
			width: 35px;
			height: 35px;
			background-size: contain;
			border: 1px solid #eee;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #ccc;
			margin-right: 10px;
		}

		.remove-btn {
			color: $red-dark;
			cursor: pointer;
			transition: 0.1s;
			width: 40px;

			&:active {
				transform: scale(0.8);
			}
		}

		.image-holder {
			width: 100%;
			padding: 20px;

			img {
				width: 100px;
			}
		}
	}

	&.single-item-selection {
		.selected-item {
			margin: 0;
		}
	}
}

.selected-template {
	.quantity-form {
		width: 70px;

		input {
			width: 100%;
			height: auto;
			min-height: initial;
			font-size: 12px;
			padding: 5px;
		}
	}

	.addons-list {
		margin-top: 10px;
		border: 1px solid #ccc;
		box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		padding: 5px;
		
		&-header {
			border-bottom: 1px solid #ccc;
			padding-bottom: 5px;
			font-size: 14px;

		}

		&-body {
			.addon-item {
				margin-top: 5px;
				padding: 0 10px;

				.addon-form-details {
					position: relative;
					padding: 5px;
					border: 1px solid #ccc;
					border-radius: 3px;
					transition: 0.5s;

					.color {
						width: 10px;
						height: 10px;
						border-radius: 3px;
						margin-right: 5px;
					}

					&.no-controls {
						filter: grayscale(100%);

						&::after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							background: rgba(0, 0, 0, 0.05);
							left: 0;
							top: 0;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}
}

.elipsis-loader {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		width: 10px;
		height: 10px;
		background: #666;
		border-radius: 100%;
		margin: 0 10px;
		animation-name: jump, colorChange;
		animation-duration: 0.7s, 3s;
		animation-iteration-count: infinite;

		&.reverse {
			animation-direction: reverse;
		}
	}

	@keyframes jump {
		from,
		to {
			transform: translateY(0) rotate(0deg);
			border-radius: 100%;
		}

		50% {
			transform: translateY(-100%) rotate(90deg);
			border-radius: 0;
		}
	}

	@keyframes colorChange {
		from,
		to {
			background: $green-medium;
		}

		63% {
			background: $orange-medium;
		}

		64% {
			background: $purple-medium;
		}
	}
}

#clientStores {

	.store-container {
		text-align: center;
		max-width: 500px;

		> div {
			display: inline-block;
			cursor: pointer;

			.img-container {
				position: relative;
				display: inline-block;
				
				.blurred-bg {
					position: relative;
					overflow: hidden;
					border-radius: 100%;
					background-color: #111;
					
					.bg-img {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						filter: blur(4px);
						background-size: cover;
						background-position: center;
					}

					img {
						position: relative;
						width: 200px;
						height: 200px;
						object-fit: contain;
						object-position: center;
						border-radius: 100%;
						background: rgba(0, 0, 0, 0.5);
					}
				}
	
				.store-color {
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 100%;
				}
			}
	
			.store-name {
				margin-top: 10px;
				font-size: 20px;
				font-weight: bold;
				color: #666;
			}
		}
	}

	.store-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 20px;

		.store-container {
			animation-name: fadeAppear;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			opacity: 0;

			> div {

				.store-color {
					transition: 0.3s;
					transform: scale(0);
				}

				&:hover {
					.img-container {
						.store-color {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}

	.store-details-confirmation {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding-top: calc(56px + 30px);
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: 0s;
		transition-delay: 1.8s;

		.curtain-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #f8f9fa;
			opacity: 0;
			transition: 0.5s;
			transition-delay: 1.3s;
		}

		.dismiss-btn {
			position: absolute;
			left: 10px;
			top: 70px;
			color: #666;
			font-size: 20px;
			transition: 0.3s;
			transform: translateX(-150%);
		}

		.store-container {

			>div {
				.store-color {
					transition: 0.3s;
				}

				.store-description {
					opacity: 0;
					transition: 0.3s;
				}

				.button-holder {
					opacity: 0;
					transition: 0.5s;
				}
			}
		}

		&.show {
			transform: scale(1);
			transition-delay: 0s;

			.curtain-overlay {
				opacity: 1;
				transition-delay: 0s;
			}

			.dismiss-btn {
				transform: translateX(0);
				transition-delay: 1.5s;
			}
			
			.store-container {

				>div {
					.store-color {
						transform: scale(1.1);
						transition: 0s;
					}

					.store-description {
						opacity: 1;
						transition-delay: 1.3s;
					}

					.button-holder {
						opacity: 1;
						transition-delay: 1.5s;
					}
				}
			}
		}
	}

	@keyframes fadeAppear {
		from {
			opacity: 0;
		}

		 to {
			 opacity: 1;
		 }
	}
}

.side-collapse-controller {
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;

	.controls-container {
		.collapse-control {
			height: 50px;
			padding-left: 10px;
			background: #fff;
			margin-bottom: 10px;
			cursor: pointer;
			transition: 0.3s;
			transform: translateX(90%);
			border-radius: 5px 0 0 5px;
			box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);

			button {
				background: none;
				border: 1px solid #ccc;
				box-shadow: none;
				color: #ccc;
				border-radius: 100%;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				margin-right: 5px;
				transition: 0.2s;

				&:hover {
					transform: scale(1.2);
				}
			}

			&.in {
				transform: translateX(0);
			}
		}
	}
}

[collapse-trigger] {
	overflow: hidden;

	&[collapse-status=collapsed] {
		max-height: 0;
	}
}

[collapse-target] {
	display: flex;

	>*:not(.coltri-btn) {
		flex: 1;
	}

	.coltri-btn {
		transition: 0.5s;
		color: $green-medium;
		font-size: 15px;

		&:hover {
			opacity: 0.8;
		}

		&.in {
			transform: rotate(180deg);
		}
	}
}

.doughnut-chart-container {
	position: relative;
	width: 100px;
	margin: auto;
	pointer-events: none;
	
	.doughnut-label {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.actions {
    display: inline-flex;
    a {
        padding: 0 5px;
    }
}

.channel-logo {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	object-fit: cover;
}