$white: #ffffff;

$yellow-darker: #FB8A3B;
$yellow-dark: #FB963B;
$yellow-medium: #FBB03B;
$yellow-light: #FBC33B;

$green-darker: #005b59;
$green-dark: #007a77;
$green-medium: #00a09a;
$green-light: #99d9d7;

$blue-darker: #033E9A;
$blue-dark: #055CE5;
$blue-medium: #3B86FB;
$blue-light: #86B4FD;

$purple-darker: #45254c;
$purple-dark: #5d3266;
$purple-medium: #7b4284;
$purple-light: #cab3ce;

$pink-darker: #9b5854;
$pink-dark: #bc8784;
$pink-medium: #f8b1ab;
$pink-light: #fce0dd;

$red-darker: #7e3529;
$red-dark: #a94837;
$red-medium: #dc4f34;
$red-light: #f1b9ae;

$orange-darker: #b07228;
$orange-dark: #d6974c;
$orange-medium: #ffb35a; 
$orange-light: #ffe1bd;

$grey-100: #32383d;
$grey-80: #5b6770;
$grey-60: #9da4a9;

$grey-40: #bdc2c6;
$grey-20: #dee1e2;  

$grey-10: #eff0f1;
$grey-5: #f8f9fa;

$success-darker: #276c4c;
$success-dark: #349166;
$success-medium: #45be84;
$success-light: #b5e5ce;

$error: $red-medium;
$success: $green-medium;
$warning: $orange-medium;
$info: $blue-medium;

/* THEME COLOR */
$primary-darker: $yellow-darker;
$primary-dark: $yellow-dark;
$primary-medium: $yellow-medium;
$primary-light: $yellow-light;

$secondary-darker: $blue-darker;
$secondary-dark: $blue-dark;
$secondary-medium: $blue-medium;
$secondary-light: $blue-light;
/* END THEME COLOR */

$xxx-large: 32px;
$xx-large: 24px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$x-x-small: 11px;
$xx-small: 10px;
$xxx-small: 8px;

$mobile: "(max-width: 767px)";
$min-mobile: "(min-width: 768px)";
$tablet: "(max-width: 991px)";